[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-cors = "*"
flask-jwt-extended = "*"
migrate = "*"
flask-serializer = "*"
flask-migrate = "*"
marshmallow = "*"
flask-marshmallow = "*"
werkzeug = "*"
flask-restful = "*"

[dev-packages]

[requires]
python_version = "3.8"
